@media (max-width: 640px) {
    .ui2-image {
        max-width: 100px; /* Set your desired maximum width */
        height: auto;
        margin-top: 5vh;
    }
    .ui1-image {
        max-width: 150px; /* Set your desired maximum width */
        height: 200px;
        margin-top: 5vh;
    }
    .downloadmsg {
        margin-top: 200px;
    }
}

